<launch>

    <include file="$(find navigation)/my_robot_config_launch.launch"></include>
    <include file="$(find navigation)/move_base.launch"></include>

    <node name="navigation_controller_node"
          pkg="hogwarts_express"
          type="navigation_controller.py"
          output="screen"/>

    <node name="lidar_republisher"
          pkg="hogwarts_express"
          type="lidar_republisher.py"/>

    <node name="request_handler_node"
          pkg="hogwarts_express"
          type="request_handler.py"
          output="screen"/>

</launch>