<launch>

    <include file="$(find hogwarts_express)/src/navigation/navigation.launch"></include>


    <node name="master_discovery"
          pkg="master_discovery_fkie"
          type="master_discovery"
          output="screen">

        <param name="mcast_group" value="224.0.0.1"/>

    </node>

    <node name="master_sync"
          pkg="master_sync_fkie"
          type="master_sync"
          output="screen">

        <rosparam param="ignore_nodes">[/usb_cam, /super_master_node]</rosparam>
        <rosparam param="sync_topics">[/requests]</rosparam>

    </node>

</launch>